*{
    margin: 5;
    padding: 5;
}

.envelope{
    border: 1px solid black;
    background-color: lightskyblue;
    display: flex;
    justify-content: space-evenly;
    width: 50%;
}

/*********/
.div{
    border: 1px solid black;
    background-color: lightcoral;
    margin: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 30%;
    height: 20vh;
}

@media (max-width: 750px) {
    .envelope {
       justify-content: center;
       align-items: center;
       flex-direction: column;
    }
 
    .div {
       width: 90%;
    }
 }

.img{
    margin-left: 30%;
    width: 40%;
    height: 30%;
    border-radius: 40%;
    border: 1px solid black;
}

.txt{
    margin: 10px;
    justify-content: left;
}
