* {
    margin: 0;
    padding: 0;
 }
 
 body {
    font-family: Arial, Helvetica, sans-serif;
 }
 
 main {
    display: flex;
    justify-content: space-evenly;
    width: 60%;
    background: rgb(69, 140, 255);
 }
 
 .div-principal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 30%;
    height: 50vh;
    background: rgb(246, 201, 201);
    margin: 1rem 0;
 }
 
 .div-img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    border-radius: 50%;
    background: white;
    padding: 1rem;
    margin: 2rem 0;
 }
 
 img {
    width: 90%;
 }
 
 .div-texto {
    width: 70%;
 }
 
 .div-texto h1 {
    font-size: 20px;
 }